<h1>Edit  Bugs</h1>
<%= form_for :bug, url:  project_bug_path(@bug), method: :patch  do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field:title %>
  </p>

  <p>
    <%= label_tag 'Bug Deadline:' %></br>
    <%= f.date_field:date %>
  </p>

  <p>
    <%= label_tag 'Bug Type:' %></br>
    <%= f.radio_button :bug_type, 'Bug', :checked =>true %>Bug <br/>
      <%= f.radio_button :bug_type, 'Feature' %> Feature<br/>
  </p>

  <p>
    <%= label_tag 'Bug Status:' %></br>
    
    <%= f.select :status, options_for_select([["New"] ,["Started"] , ["Resolved"]]) %>
  </p>  

  <p>
    <%= f.submit "Edit Bug"%>
  </p>

<% end %>


